.container {
  height: 100%;
  width: 100%;
}

.sidenav {
  width: 45rem;
}

.main {
  width: 100%;
}

.img {
  background: url(../../../../assets/chats-background.jpg) center no-repeat;
  background-size: cover;
}
